header {
    display: -webkit-flex;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


#Контакты {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: flex-end;
}

#Контакты p {
    align-items: flex-end;
}

main {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 50%;
}

#main_header {
    justify-content: center;
}

#Приветствие {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#MyWork {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#Menue_Header {
    justify-content: center;
}

#Menue {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

#Menue ul {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
}