body {
    background-image: url(../resources/background.jpg);
}

main {
    margin: 20px;
}

#Мой_опыт {
    width: 400px;   
    border-style: dashed;
    border-radius: 20px;
    border-color: #7109aa;
    border-width: 7px;
    padding-left: 1%;
}

#Контакты {
    width: fit-content;
    border-color: #2419b2;
    border-style: solid;
    margin-top: 5px;
}

#Контакты img {
    height: 200px;
    width: 150px;
    border-radius: 10%;
}

#О_себе {
    border-style: solid;
    border-radius: 20px;
    border-color: #2419b2;
    border-width: 3px;
    width: 480px;   
    padding: 1%;
    margin: 10px;
}

#Menue_Header {
    margin-top: -10px;
}

#Menue {
    border-style: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: #2419b2;
    background-color: #2419b2;
    border-width: 3px;
    margin: 0px;
    padding: 5px;
    width: fit-content;
}

#Menue ul {
    padding: 0px;
    margin: 10px;
    width: fit-content;
}


#Menue ul li {
    margin: 0px 5px;
    list-style-type: none;
    width: fit-content;
    padding: 2px;
    text-align: center;
    white-space: nowrap ;
}

#My_code {
    width: 550px;
    border-style: dotted;
    border-radius: 20px;
    border-color: #7109aa;
    border-width: 5px;
    padding-left: 1%;
    padding-right: 1%;
}

#Мои_у\/н {
    width: 400px;
    border-style: dotted;
    border-radius: 20px;
    border-color: #7109aa;
    border-width: 5px;
    padding-left: 1%;
    padding-right: 1%;
    margin: 5px;
}

#Мои_проекты {
    width: 550px;
    border-style: dashed;
    border-radius: 20px;
    border-color: #7109aa;
    border-width: 7px;
    padding: 1%;
}

#Приветствие p {
    margin: 0px;
}

.navigation:hover{
    color: #000;;
}

.current_page{
    border-style: solid;
    border-radius: 20px;
    border-color: #ffaa00;
    border-width: 1px;
    padding: 1%;
}

