body {
    background-image: url(../resources/background.jpg);
}

h4 {
}

strong {
}

#Мой_опыт {
    width: 480px;   
    border-style: dashed;
    border-radius: 20px;
    border-color: #7109aa;
    border-width: 7px;
    padding-left: 1%;
}

#Контакты {
    width: 300px;
    border-color: #2419b2;
    border-style: solid;
}

#Контакты img {
    height: 240px;
    width: 180px;
    border-radius: 10%;
}

#О_себе {
    border-style: solid;
    border-radius: 20px;
    border-color: #2419b2;
    border-width: 3px;
    width: 480px;   
    padding: 1%;
}

#Menue {
    width: 240px;
    border-style: solid;
    border-radius: 20px;
    border-color: #2419b2;
    border-width: 3px;
}

#Menue li {
    margin: 10px;
    margin-left: 0;
}

#My_code {
    width: 550px;
    border-style: dotted;
    border-radius: 20px;
    border-color: #7109aa;
    border-width: 5px;
    padding-left: 1%;
    padding-right: 1%;
}

#Мои_у\/н {
    width: 400px;
    border-style: dotted;
    border-radius: 20px;
    border-color: #7109aa;
    border-width: 5px;
    padding-left: 1%;
    padding-right: 1%;
}

#Мои_проекты {
    width: 550px;
    border-style: dashed;
    border-radius: 20px;
    border-color: #7109aa;
    border-width: 7px;
    padding: 1%;
}

#Приветствие {
}

a[href] {
}

footer {
}