.grid-schedule {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 2px;
    grid-auto-rows: repeat(8, 1fr);
    width: 90%;
}

.weekday {
    grid-row: 1;
}

.monday {
    grid-column: 2;
}
.tuesday {
    grid-column: 3;
}
.wednesday {
    grid-column: 4;
}
.thursday {
    grid-column: 5;
}
.friday {
    grid-column: 6;
}
.sutarday {
    grid-column: 7;
}
.sunday {
    grid-column: 8;
}

.first {
    grid-row: 2;
}
.second {
    grid-row: 3;
}
.third {
    grid-row: 4;
}
.fourth {
    grid-row: 5;
}
.fifth {
    grid-row: 6;
}
.sixth {
    grid-row: 7;
}
.seventh {
    grid-row: 8;
}

.timing {
    grid-column: 1;
}

.cell {
    border-color: #7109aa;
    border-width: 1px;
    border-style: solid;
}

.cell p {
    margin: 0;
    padding: 0;
}