body {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}

h4 {
    color: #ffaa00;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

strong {
    color: #ffaa00;
    font-style: italic;
}

#Контакты {
    line-height: 150%;    
}

#My_code code{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#Мои_у\/н dt{
    color: #ffaa00;
}

a[href] {
    color: #ffc500;
    text-decoration: none;
}

footer {
    text-align: center;
}

#totem {
    color: greenyellow
}